*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 4.5rem;

    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);

    /* fonts */
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
}

/****** BASE ********************************************************* */
html{
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--body-color);

    --webkit-font-smoothing: antialiased;
}

body .title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--title-color);

    --webkit-font-smoothing: auto;
}

body a {
    text-decoration: none;
}

body img {
    width: 100%;
    height: auto;
}

ul li {  
    list-style: none;
}

/******* DIVIDERS ************************************************************ */
.divider-1 {
    height: 1px;
    background: linear-gradient( /* para o hsla funcionar, APENAS background */
        270deg,
        hsla(var(--hue), 36%, 57%, 1),
        hsla(var(--hue), 65%, 88%, 0.34)
    );
}

.divider-2 {
    height: 1px;
    background: linear-gradient(
        270deg, 
        hsla(var(--hue), 65%, 88%, 0.34),
        hsla(var(--hue), 36%, 57%, 1));
}

/****** BUTTONS *********************************************************** */ 
.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;

    transition: background 0.2s;
}

.button:hover {
    background-color: var(--base-color-alt);
}

/****** HEADER ************************************************************* */
#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;

    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--body-color);
}

/****** LOGO ********************************************************* */
.container .logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.31rem;
    color: var(--title-color);
}

.container .logo span {
    color: var(--base-color);
}

.container .logo-alt span {
    color: var(--body-color);
}

/******** NAVIGATION ************************************************ */
#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

#header nav {
    height: var(--header-height);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .container .menu { 
    opacity: 0;
    visibility: hidden;
    top: -20rem;
}

#header .container .menu a{
    transition: color 0.2s;
    position: relative;
}

#header .container .menu a:hover {
    color: var(--base-color)
}

#header .container .menu a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -1.5rem;
    
    transition: width 0.2s;
}

#header .container .menu a:hover::after {
    width: 100%;
}

/****** SHOW MENU ************************************************** */
nav.show ul.grid {
    gap: 4rem;
    text-align: center;
}

#header nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: var(--body-color);
    height: 100vh;
    width: 100vw;

    /* Header nao ira desaparecer ao scrollar */ 
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

/**** TOGGLE MENU ***************************************************** */
nav .toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;
   
    position: absolute;
    right: 1.5rem;

    /* TRANSIÇAO */
    top: -1.5rem;
    transition: .2s;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}

/**** CONTAINER **************************************************** */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
    margin-bottom: 1rem;
}

.section header {
    margin-bottom: 4rem;
}

.section .subtitle {
    font-size: var(--subtitle-font-size);
}

/****** HOME ****************************************************** */
#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative
}

#home .image::before {
    content: ''; /* background image */
    height: 100%;
    width: 100%;
    background-color: var(--base-color-second);
    position:absolute;
    top: -16.8%;
    left: 16.8%;
    z-index: 0;
    border-radius: 0.25rem;
}

#home .image img {
    position: relative;
    right: 2.93rem;

    border-radius: 0.25rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .text .title {
    margin-bottom: 1rem;
}

#home .text p {
    margin-bottom: 2rem;
}

/* **** ABOUT ****************************************************** */
#about {
    background-color: white;
}
#about .container {
    margin: 0;
}

#about .image {
    position: relative
}

#about .image::before {
    content: ''; /* background image */
    height: 100%;
    width: 100%;
    background-color: var(--base-color-second);
    position:absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
    border-radius: 0.25rem;
}

#about .image img {
    position: relative;

    border-radius: 0.25rem;
}

#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#about .text p {
    /* Justificar textos */
    text-align: justify;
    text-justify: inter-word;
}

/****** SERVICES ****************************************************** */
.section header b {
    color: var(--title-color);
}

.section header span {
    color: var(--base-color);
}

.cards.grid {
    gap: 1.5rem;
}

.card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 00.25rem solid var(--base-color);
    border-radius: .25rem .25rem 0 0;
    text-align: center;
}

.card i {
    display: block; /* irá ocupar a linha toda */
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
}

.card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

/********* TESTIMONIALS ******************************************************* */
#testimonials {
    background-color: white;
}

#testimonials .container {
    margin-left: 0;
    margin-right: 0;
}

#testimonials header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
}

#testimonials blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

#testimonials blockquote p span {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: serif;

    position: absolute;
    top: -0.375rem;
    left: -1.875rem;
    color: var(--base-color); 
}

#testimonials cite {
    display: flex;
    align-items: center;
    font-style: italic;
}

#testimonials cite img {
    width: 2rem;
    height: 2rem;

    /* encaixar a imagem */
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

/******** SWIPER ******************************************************************* */
.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--base-color);
}

/******** CONTATO ******************************************************************* */
#contact .grid {
    gap: 4rem;
}

#contact .text p {
    margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
     font-size:  1.5rem;
     margin-right:  0.625rem;
}

#contact ul.grid {
    gap: 2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
}

#contact ul li i {
    color: var(--base-color);
}

/******** FOOTER ******************************************************************* */
footer {
    background-color: var(--base-color);
}

footer.section {
    padding: 4rem 0;
}

/* por padrao o display da tag a é inline */
footer .brand .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
}

footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
}

footer i {
    font-size: 1.5rem;
    color: var(--text-color-light);
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
}

footer .social a {
    margin-right: 2rem;
    transition: 0.3s;
    display: inline-block;
}

footer .social a:hover {
    transform: translateY(-8px);
}

/****** ARROW UP ******************************************************************** */
.back-to-top {
    background-color: var(--base-color);
    color: var(--text-color-light);

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    padding: 0.5rem;
    clip-path: circle();

    font-size: 1.5rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translate(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

/****** MEDIA QUERIES ****************************************************************** */
@media screen and (min-width: 1200px) {
    main {
        margin-top: var(--header-height);
    }

    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 10rem 0;
    }

    .section header, 
    #testimonials header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        height: 3.125rem;
    }

    /****** HEADER ****************************************************************** */
    #header .container .menu  {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    #header .container .menu  ul {
        display: flex;
        gap: 2rem;
    }

    #header .container .menu ul li a.title {
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        font-size: 1rem;
    }

    nav .icon-menu {
        display: none;
    }

    /****** HOME ****************************************************************** */       
    #home .container {
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    #home .image {
        order: 1; /* troca a ordem dos elementos, no caso a escrita vira antes da foto */
    }

    #home .text {
        order: 0;
        max-width: 24rem;
        text-align: left;
    }

    /****** ABOUT ****************************************************************** */
    #about .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }
    
    /****** SERVICES ****************************************************************** */
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /****** TESTIMONIALS ****************************************************************** */
    #testimonials .container {
        margin-left: auto;
        margin-right: auto;
    }

    /****** CONTACT ****************************************************************** */
    #contact .container {
        grid-auto-flow: column;
        align-items: center;
    }

    #contact .text {
        max-width: 25rem;
    }

    /****** FOOTER ****************************************************************** */
    footer.section {
        padding: 3.75rem 0;
    }

    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}